
.col-lg-12{

    padding: 0px;

}

.footerRow2{
    
    -ms-transform: rotate(3.5deg); /* IE 9 */
    -webkit-transform: rotate(3.5deg); /* Chrome, Safari, Opera */
    transform: rotate(3.5deg);
    margin-top: 65px;
    
}

.col-lg-10.överDel{

    background-color: #BD0000;
    height: 50px;
    width: 40%;
    padding: 0px;
    margin: 0px;

}

.col-lg-2.överDelTriangel{

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 0 200px;
    border-color: transparent transparent transparent #BD0000;

}

.col-lg-12.triangel{

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 0 0 1870px;
    border-color: transparent transparent transparent #BD0000;

}