
.navbar {
    border: none;
    border-radius: 0px;
    background-color: #BD0000;
    margin-bottom: 0;
    height: 50px; 
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 40px;
}

.navbar-default .navbar-brand:hover{
    color: white;
}